<div class="container mt-3 mb-5">
  <div class="row mt-2">

    <div class="col-md-2">
      <%= render 'customer', customer: @customer %>
    </div>

    <div class="col text-center ml-4">

      <h3 class="p-1 bg-info text-light">
        <strong><%= @customer.name %> のブックマーク一覧</strong>
      </h3>

        <% if @customer.bookmarks.exists? %>

            <% @bookmark_comics.each do |bookmark| %>
              <!-- 退会したユーザーの投稿は表示しない -->
              <% if bookmark.customer.is_deleted == false %>

                <table class="table table-bordered text-center mt-4">

                  <tr class="bg-info">
                    <th width="20%">タイトル</th>
                    <td colspan="3">
                      <%= link_to comic_path(bookmark), class:"text-light mr-5" do %>
                        <strong><%= bookmark.title %></strong>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <th class="bg-light">著者名</th>
                    <td><%= bookmark.name %></td>

                    <th class="bg-light">出版社</th>
                    <td><%= bookmark.company %></td>
                  </tr>

                  <tr>
                    <th class="bg-light">投稿したユーザー</th>
                    <td>
                      <%= link_to customer_path(bookmark.customer) do %>
                        <strong><%= bookmark.customer.name %></strong>
                      <% end %>
                    </td>

                    <th class="bg-light">投稿日時</th>
                    <td><%= bookmark.created_at.strftime("%Y年%m月%d日") %></td>
                  </tr>

                  <tr>
                    <th class="bg-light">おすすめ度</th>
                    <td>
                      <div class="star-rate">
                        <div id="star-rate-<%= bookmark.id %>"></div>

                          <script>
                            $('#star-rate-<%= bookmark.id %>').raty({
                            size      : 36,
                            starOff   : '<%= asset_path('star-off.png') %>',
                            starOn    : '<%= asset_path('star-on.png') %>',
                            starHalf  : '<%= asset_path('star-half.png') %>',
                            half      : true,
                            readOnly: true,
                            score: <%= bookmark.star %>,
                            });
                          </script>

                      </div>
                    </td>
                    <th class="bg-light">ネタバレ</th>
                      <% if bookmark.spoiler_status %>
                        <td class="text-danger"><strong>無</strong></td>
                      <% else %>
                        <td class="text-success"><strong>有</strong></td>
                      <% end %>
                  </tr>

                  <tr>
                    <th class="bg-light">ジャンル</th>
                    <td>
                      <% bookmark.genres.each do |genre| %>
                        <%= link_to genre_comics_genre_path(genre_id: genre.id), class:"text-success" do %>
                          <strong><%= genre.genre_name %></strong>
                        <% end %>
                      <% end %>
                    </td>

                    <th class="bg-light">タグ</th>
                    <td>
                      <% bookmark.tags.each do |tag| %>
                        <%= link_to tag_comics_tag_path(tag_id: tag.id), class:"text-danger" do %>
                          <strong><%= tag.tag_name %></strong>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <th class="bg-light">コメント数</th>
                    <td><%= bookmark.comic_comments.count %></td>

                    <th class="bg-light">ブックマーク数</th>
                    <td><%= bookmark.bookmarks.count %></td>
                  </tr>

                  <tr>
                    <th class="bg-light">本文</th>
                    <td colspan="3">
                      <%= bookmark.body.truncate(30) %>
                      <%= link_to "もっと読む", comic_path(bookmark), class:"btn btn-info btn-bg ml-5" %>
                    </td>
                  </tr>

                </table>

              <% end %>
            <% end %>

          <%= paginate @bookmark_comics %>

        <% else %>

          <div class="col mt-5">
            <h5 class="text-center">まだブックマークしていません</h5>
          </div>

        <% end %>

    </div>

  </div>
</div>