<div class="container mt-5">
  <div class="row">

    <div class="col-md-2">
      <%= render 'public/customers/customer', customer: @customer %>
      <%= link_to "ブックマーク一覧", public_customers_bookmark_path(@customer) %>
    </div>

    <div class="col">
      <h3><%= @customer.name %>の投稿一覧</h3>
      <%= render 'public/comics/comic', comics: @comics %>
    </div>

    <div class="row">
      <%= link_to "戻る", public_customer_path(@customer) %>
      <%= link_to "投稿フォームへ", new_public_comic_path %>
    </div>

  </div>
</div>
