<div class="container mt-5">
  <div class="row">

    <div class-"col-md-2">
      <%= render 'customer', customer: @customer %>
    </div>

  <% if @customer.comics.exists? %>
    <div class="col">
      <h3 class="text-center">最新の投稿</h3>

        <div class="text-right">
          <% if customer_signed_in? && current_customer.email != 'guest@guest'%>
              <% if @last_comic.bookmarked_by?(current_customer) %>
                  <%= link_to public_comic_bookmark_path(@last_comic), method: :delete, class:"btn btn-info btn-sm" do %>
                    <i class="fas fa-bookmark"></i>
                    ブックマークを外す(<%= @last_comic.bookmarks.count %>)
                  <% end %>
              <% else %>
                  <%= link_to public_comic_bookmark_path(@last_comic), method: :post, class:"btn btn-secondary btn-sm" do %>
                    <i class="fas fa-bookmark"></i>
                    ブックマークする(<%= @last_comic.bookmarks.count %>)
                  <% end %>
             <% end %>
          <% end %>
        </div>

        <table class="table table-bordered">
          <tr>
            <td>タイトル</td>
            <td>
              <%= link_to public_comic_path(@last_comic) do %>
                <%= @last_comic.title %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>著者名</td>
            <td> <%= @last_comic.name %></td>
          </tr>

          <tr>
            <td>出版社</td>
            <td><%= @last_comic.company %></td>
          </tr>

          <tr>
            <td>発行年月日</td>
            <td><%= @last_comic.release_date.strftime("%Y年%m月%d日") %></td>
          </tr>

          <!-- 星レビュー機能 -->
          <tr>
            <td>おすすめ度</td>
            <td>
              <div id="star-rate-<%= @last_comic.id %>">

                  <script>
                    $('#star-rate-<%= @last_comic.id %>').raty({
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf  : '<%= asset_path('star-half.png') %>',
                    half      : true,
                    readOnly: true,
                    score: <%= @last_comic.star %>,
                    });
                  </script>

              </div>
            </td>
          </tr>

          <tr>
            <td>ジャンル</td>
            <td>
              <% @last_comic.genres.each do |genre| %>
                <%= link_to public_genre_comics_genre_path(genre_id: genre.id) do %>
                  <%= genre.genre_name %>
                <% end %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>タグ</td>
            <td>
              <% @last_comic.tags.each do |tag| %>
                <%= link_to public_tag_comics_tag_path(tag_id: tag.id) do %>
                  <%= tag.tag_name %>
                <% end %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>投稿日時</td>
            <td><%= @last_comic.created_at.strftime("%Y年%m月%d日") %></td>
          </tr>

          <tr>
            <td>本文</td>
            <td><%= @last_comic.body %></td>
          </tr>
        </table>
    </div>
  </div>
  <div class="row text-right">
    <div class="col">
        <%= link_to "投稿詳細", public_comic_path(@last_comic), class:"btn btn-info btn-sm" %>

        <% if @customer.email != 'guest@guest' %>
          <%= link_to "投稿フォームへ", new_public_comic_path, class:"btn btn-success btn-sm" %>
        <% end %>
    </div>
  </div>

  <% else %>
    <p>投稿がありません</p>
  <% end %>

    </div>
  </div>
</div>

