<div class="container mt-3 mb-5">
  <div class="row mt-2">

    <div class-"col-md-2">
      <%= render 'customer', customer: @customer %>
    </div>

    <div class="col text-center ml-4">

      <h3 class="p-1 bg-primary text-light">
        <strong><%= @customer.name %> の最新の投稿</strong>
      </h3>

        <% if @customer.email == 'guest@guest' %>

          <h5 class="mt-5 mb-5 text-center">
            ゲストユーザーは投稿できません。新規で会員登録を行うと投稿できるようになります。<br>
            会員登録をされる方は一度、<%= link_to "こちら", destroy_customer_session_path, method: :delete %>からログアウトをお願いします。
          </h5>

        <!-- もし一つも投稿していなければ -->
        <% elsif @customer.comics.empty? %>

          <h5 class="mt-5 mb-5 text-center">投稿がありません。</h5>

        <% else %>

          <div class="mt-4 text-right">
            <!-- ログインしているのがゲストユーザーでなければ表示する -->
            <% if customer_signed_in? && current_customer.email != 'guest@guest'%>
              <!--　ユーザーがブックマークをしていれば外すボタンを表示 -->
              <% if @last_comic.bookmarked_by?(current_customer) %>

                <%= link_to comic_bookmark_path(@last_comic), method: :delete, class:"btn btn-info btn-bg", data: {confirm: "ブックマークを外しますか？"} do %>
                  <i class="fas fa-bookmark"></i>ブックマークを外す(<%= @last_comic.bookmarks.count %>)
                <% end %>

              <% else %>

                <%= link_to comic_bookmark_path(@last_comic), method: :post, class:"btn btn-secondary btn-bg" do %>
                  <i class="fas fa-bookmark"></i>ブックマークする (<%= @last_comic.bookmarks.count %>)
                <% end %>

              <% end %>

            <% end %>

          </div>

          <table class="table table-bordered text-center">
            <tr class="bg-info">
              <th width="20%">タイトル</th>
              <td colspan="3">
                <%= link_to comic_path(@last_comic), class:"text-light" do %>
                  <strong><%= @last_comic.title %></strong>
                <% end %>
              </td>
            </tr>

            <tr>
              <th class="bg-light">著者名</th>
              <td><%= @last_comic.name %></td>

              <th class="bg-light" width="20%">出版社</th>
              <td><%= @last_comic.company %></td>
            </tr>

            <tr>
              <th class="bg-light">発行年月日</th>
              <td><%= @last_comic.release_date.strftime("%Y年%m月%d日") %></td>

              <th class="bg-light">投稿日時</th>
              <td><%= @last_comic.created_at.strftime("%Y年%m月%d日") %></td>
            </tr>

            <!-- 星レビュー機能 -->
            <tr>
              <th class="bg-light">おすすめ度</th>
              <td colspan="3">
                <div id="star-rate-<%= @last_comic.id %>">

                  <script>
                    $('#star-rate-<%= @last_comic.id %>').raty({
                      size      : 36,
                      starOff   : '<%= asset_path('star-off.png') %>',
                      starOn    : '<%= asset_path('star-on.png') %>',
                      starHalf  : '<%= asset_path('star-half.png') %>',
                      half      : true,
                      readOnly: true,
                      score: <%= @last_comic.star %>,
                    });
                  </script>

                </div>
              </td>
            </tr>

            <tr>
              <th class="bg-light">ジャンル</th>
              <td>
                <% @last_comic.genres.each do |genre| %>
                  <%= link_to genre_comics_genre_path(genre_id: genre.id), class:"text-success" do %>
                    <strong><%= genre.genre_name %></strong>
                  <% end %>
                <% end %>
              </td>

              <th class="bg-light">タグ</th>
              <td>
                <% @last_comic.tags.each do |tag| %>
                  <%= link_to tag_comics_tag_path(tag_id: tag.id), class:"text-danger" do %>
                    <strong><%= tag.tag_name %></strong>
                  <% end %>
                <% end %>
              </td>
            </tr>

            <tr>
              <th class="bg-light">ネタバレ</th>
                <% if @last_comic.spoiler_status %>
                  <td class="text-danger"><strong>無</strong></td>
                <% else %>
                  <td class="text-success"><strong>有</strong></td>
                <% end %>

              <th class="bg-light">本文</th>
              <td colspan="3">
                <%= @last_comic.body.truncate(30) %>
                <%= link_to "もっと読む", comic_path(@last_comic), class:"btn btn-info btn-bg ml-5" %>
              </td>
            </tr>
          </table>

    </div>

  </div>
  <div class="row text-right">

    <div class="col">
      <%= link_to "投稿詳細", comic_path(@last_comic), class:"btn btn-info btn-bg" %>

        <!-- 投稿があればここまで表示する -->
        <% end %>

      <!-- ゲストユーザーでなければ表示する -->
      <% if customer_signed_in? && @customer.email != 'guest@guest' %>
        <%= link_to "投稿フォームへ", new_comic_path, class:"btn btn-success btn-bg" %>
      <% end %>
    </div>

  </div>

</div>

