
<%= image_tag @customer.get_profile_image(100,100) %>
<%= @customer.name %>

<% if @customer == current_customer %>
  <%= link_to "会員情報を編集する", edit_public_customer_path(current_customer) %>
<% end %>

<h3>最新の投稿</h3>
<% @comics.each do |comic| %>
    <p>漫画のタイトル</p>
    <%= comic.title %>

    <p>漫画の著者名</p>
    <%= comic.name %>

    <p>出版社</p>
    <%= comic.company %>

    <p>発行年月日</p>
    <%= comic.release_date %>

    <div class="star-rate">
    <div id="star-rate-<%= comic.id %>"></div>

     <script>
     $('#star-rate-<%= comic.id %>').raty({
       size      : 36,
       starOff   : '<%= asset_path('star-off.png') %>',
       starOn    : '<%= asset_path('star-on.png') %>',
       starHalf  : '<%= asset_path('star-half.png') %>',
       half      : true,
       readOnly: true,
       score: <%= comic.star %>,
     });
     </script>
  </div>

   <p>ジャンル</p>
    <% comic.genres.each do |genre| %>
      <%= genre.genre_name %>
    <% end %>

    <p>タグ</p>
    <% comic.tags.each do |tag| %>
      <%= tag.tag_name %>
    <% end %>

<%= link_to "投稿詳細", public_comic_path(comic) %>

<% end %>

<%= link_to "投稿一覧", public_comics_path %>

<%= link_to "投稿フォームへ", new_public_comic_path %>
