
<%= @customer.name %>

<% if @customer == current_customer %>
  <%= link_to "会員情報を編集する", edit_public_customer_path(@customer) %>
<% end %>

<h3>最新の投稿</h3>

 <% @customer.comics.each do |comic| %>
  <%= comic.title %>
  <%= comic.company.name %>
  <%= comic.release_date %>

  <% comic.genre.each do |genre| %>
    <p>ジャンル</p>
    <%= genre.name %>
  <% end %>

  <% comic.tag.each do |tag| %>
    <p>タグ</p>
    <%= tag.name %>
  <% end %>

  <%= link_to "投稿詳細", public_comic_path(comic) %>
  <%= link_to "投稿一覧", public_comics_path %>

<% end %>

  <%= link_to "投稿フォームへ", new_public_comic_path %>
