<h3><%= params[:word] %> の検索結果</h3>

  <% @comics.each do |comic| %>

   <p>タイトル</p>:
    <%= link_to public_comic_path(comic) do %>
    <%= comic.title %>
    <% end %>

    <p>著者名</p>:
      <%= comic.name %>

    <p>出版社</p>:
      <%= comic.company %>

    <p>投稿したユーザー</p>:
      <%= comic.customer.name %>

    <!-- 星レビュー -->
    <div class="star-rate">
      <div id="star-rate-<%= comic.id %>"></div>

         <script>
           $('#star-rate-<%= comic.id %>').empty();
           $('#star-rate-<%= comic.id %>').raty({
             size      : 36,
             starOff   : '<%= asset_path('star-off.png') %>',
             starOn    : '<%= asset_path('star-on.png') %>',
             starHalf  : '<%= asset_path('star-half.png') %>',
             half      : true,
             readOnly: true,
             score: <%= comic.star %>,
           });
         </script>

    </div>

    <p>ジャンル</p>:
      <% comic.genres.each do |genre| %>
        <%= link_to public_genre_comics_genre_path(genre_id: genre.id) do %>
          <%= genre.genre_name %>
        <% end %>
      <% end %>

    <p>タグ</p>:
      <% comic.tags.each do |tag| %>
        <%= link_to public_tag_comics_tag_path(tag_id: tag.id) do %>
          <%= tag.tag_name %>
        <% end %>
      <% end %>

    <p>コメント数</p>:
      <%= comic.comic_comments.count %>

    <p>投稿日時</p>:
      <%= comic.created_at.strftime("%Y年%m月%d日") %>

  <% end %>
