<div class="container mt-5">
  <div class="row">

      <div class="col-md-2">
        <%= render 'admin/customers/customer', customer: @customer %>
      </div>

      <div class="col text-center">
        <h3><strong>ブックマーク一覧</strong></h3>
          <% @customer.bookmarks.each do |bookmark| %>
            <table class="table table-bordered mt-3">
              <tr class="bg-info">
                <th width="20%">タイトル</th>
                <td colspan="3">
                  <%= link_to admin_comic_path(bookmark.comic), class:"text-light" do %>
                  <strong><%= bookmark.comic.title %></strong>
                  <% end %>
                </td>
              </tr>

              <tr>
                <th class="bg-light">著者名</th>
                <td><%= bookmark.comic.name %></td>

                <th class="bg-light" width="20%">出版社</th>
                <td><%= bookmark.comic.company %></td>
              </tr>

              <tr>
                <th class="bg-light">投稿したユーザー</th>
                <td>
                  <%= link_to admin_customer_path(bookmark.comic.customer) do %>
                  <strong><%= bookmark.comic.customer.name %></strong>
                  <% end %>
                </td>

                <th class="bg-light">投稿日時</th>
                <td><%= bookmark.comic.created_at.strftime("%Y年%m月%d日") %></td>

              </tr>

              <tr>
                <th class="bg-light">おすすめ度</th>
                <td colspan="3">
                    <div class="star-rate">
                      <div id="star-rate-<%= bookmark.comic.id %>"></div>

                        <script>
                          $('#star-rate-<%= bookmark.comic.id %>').raty({
                          size      : 36,
                          starOff   : '<%= asset_path('star-off.png') %>',
                          starOn    : '<%= asset_path('star-on.png') %>',
                          starHalf  : '<%= asset_path('star-half.png') %>',
                          half      : true,
                          readOnly: true,
                          score: <%= bookmark.comic.star %>,
                          });
                        </script>

                    </div>
                  </td>
                </tr>

                <tr>
                  <th class="bg-light">ジャンル</th>
                  <td>
                    <% bookmark.comic.genres.each do |genre| %>
                      <%= link_to admin_genre_comics_genre_path(genre_id: genre.id), class:"text-success" do %>
                        <strong><%= genre.genre_name %></strong>
                      <% end %>
                    <% end %>
                  </td>

                  <th class="bg-light">タグ</th>
                  <td>
                    <% bookmark.comic.tags.each do |tag| %>
                      <%= link_to admin_tag_comics_tag_path(tag_id: tag.id), class:"text-danger" do %>
                        <strong><%= tag.tag_name %></strong>
                      <% end %>
                    <% end %>
                  </td>
                </tr>

                <tr>
                  <th class="bg-light">本文</th>
                  <td colspan="3">
                    <%= bookmark.comic.body.truncate(10) %>
                    <%= link_to "投稿詳細", admin_comic_path(bookmark.comic), class:"btn btn-info btn-bg ml-5" %></td>
              </tr>

            </table>
        <% end %>
    </div>

  </div>
</div>