<!-- ユーザー情報 -->
<%= image_tag @customer.get_profile_image(100,100) %>
<%= @customer.name %>

<%= link_to "会員情報を編集する", edit_admin_customer_path(@customer) %>


<% if @customer.comics.exists? %>

<h3><%= @customer.name %>の投稿一覧</h3>

  <% @comics.each do |comic| %>

    <p>漫画のタイトル</p>
      <%= comic.title %>

    <p>漫画の著者名</p>
      <%= comic.name %>

    <p>出版社</p>
      <%= comic.company %>

    <p>発行年月日</p>
      <%= comic.release_date.strftime("%Y年%m月%d日") %>

    <div class="star-rate">
      <div id="star-rate-<%= comic.id %>"></div>

        <script>
        $('#star-rate-<%= comic.id %>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf  : '<%= asset_path('star-half.png') %>',
        half      : true,
        readOnly: true,
        score: <%= comic.star %>,
        });
        </script>

    </div>

    <p>ジャンル</p>
      <% comic.genres.each do |genre| %>
        <%= link_to admin_genre_comics_genre_path(genre_id: genre.id) do %>
          <%= genre.genre_name %>
        <% end %>
      <% end %>

    <p>タグ</p>
      <% comic.tags.each do |tag| %>
        <%= link_to admin_tag_comics_tag_path(tag_id: tag.id) do %>
          <%= tag.tag_name %>
        <% end %>
      <% end %>

    <%= link_to "投稿詳細", admin_comic_path(comic) %>

  <% end %>

  <% else %>
    <p>まだこのユーザーは投稿していません</p>
  <% end %>

    <%= link_to "戻る", admin_customer_path(@customer) %>