<div class="container mt-3 mb-5">
  <div class="row mt-2">

    <div class="col-md-2 text-center">
      <%= render 'admin/customers/customer', customer: @customer %>
      <%= link_to "会員詳細へ戻る", admin_customer_path(@customer), class:"btn btn-warning btn-bg" %>
    </div>

    <div class="col ml-4 text-center">

      <h3 class="p-1 bg-warning">
        <strong><%= @customer.name %> の投稿一覧</strong>
      </h3>

        <% if @customer.comics.exists? %>
          <div class="col text-right">
            <%= paginate @comics %>
          </div>

            <%= render 'admin/comics/comic', comics: @comics %>

        <% else %>

          <div class="col mt-5">
            <h5 class="text-center">まだこのユーザーは投稿していません</h5>
          </div>

        <% end %>

    </div>

  </div>
</div>