<div class="container mt-4">
  <div class="row text-center">
    <div class="col">
      <h3><strong><%= @customer.name %> の編集</strong></h3>
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class="col">
      <h5><strong>会員ID: <%= @customer.id %></strong></h5>
    </div>
  </div>

    <%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>

      <div class="form-group row text-center mt-3">
        <div class="col">
          <%= image_tag @customer.get_profile_image(100,100) %>
        </div>
        <div class="col">
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
      </div>

      <div class="form-group row text-center mt-3">
        <div class="col">
          <strong><%= f.label :ユーザー名 %></strong>
        </div>
        <div class="col">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="form-group row text-center mt-3">
        <div class="col">
          <strong><%= f.label :メールアドレス %></strong>
        </div>
        <div class="col">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="form-group row text-center mt-3">
        <div class="col">
          <strong><%= f.label :会員ステータス %></strong>
        </div>
        <div class="col">
          <%= f.radio_button :is_deleted, false %>
          <%= f.label :is_deleted, '有効' %>
          <%= f.radio_button :is_deleted, true %>
          <%= f.label :is_deleted, '退会' %>
        </div>
      </div>

      <div class="form-group row text-center mt-3">
        <div class="col">
          <%= f.submit "変更保存", class:"btn btn-success btn-bg" %>
        </div>
      </div>

    <% end %>

  <div class="row text-center">
     <div class="col">
       <%= link_to "戻る", admin_customer_path(@customer), class:"btn btn-warning btn-sm" %>
     </div>
  </div>

</div>
