<div class="container mt-5">

  <div class="row">
    <h3>会員一覧</h3>
  </div>

    <% @customers.each do |customer| %>
      <div class="row">
        <table class="table table-bordered">
          <div class="col-md-1">
            <tr>
              <th>会員ID</th>
              <td><%= customer.id %></td>
            </tr>
          </div>

          <div class="col-md-1">
            <tr>
              <td>
                <%= link_to admin_customer_path(customer) do %>
                  <%= image_tag customer.get_profile_image(50,50) %>
                <% end %>
              </td>
            </tr>
          </div>

            <tr>
              <th>ユーザー名</th>
              <td><%= customer.name %></td>
            </tr>

            <tr>
              <th>メールアドレス</th>
              <td><%= customer.email %></td>
            </tr>

            <tr>
              <th>会員ステータス</th>
                <% if customer.is_deleted %>
                  <td>退会</td>
                <% else %>
                  <td>有効</td>
                <% end %>
            </tr>
        </table>
       </div>
    <% end %>

</div>