<div class="container">
  <div class="row">
  <div class-"center-block">
    <h3>投稿内容の確認</h3>
    <!--このまま投稿する-->

      <%= form_with model: @comic, url: public_comics_path, method: :post do |f| %>
       <table align="center">

          <tr><th>タイトル</th></tr>
          <tr><th><%= @comic.title %></th></tr>
          <%= f.hidden_field :title, :value => @comic.title %>

          <tr><th>著者名</th></tr>
          <tr><th><%= @comic.name %></th></tr>
          <%= f.hidden_field :name, :value => @comic.name %>

        <tr><th>出版社名</th></tr>
          <tr><th><%= @comic.company %></th></tr>
          <%= f.hidden_field :company, :value => @comic.company %>

        <tr><th>発行年月日</th></tr>
          <tr><th><%= @comic.release_date %></th></tr>
          <%= f.hidden_field :release_date, :value => @comic.release_date %>

        <tr><th>本文</th></tr>
          <tr><th><%= @comic.body %></th></tr>
          <%= f.hidden_field :body, :value => @comic.body %>

        <!--星レビュー機能-->
        <tr><th>おすすめ度
        <div class="form-group" id="star">
          <%= f.hidden_field :star, id: :review_star %>
        </div>

           <script>
             $('#star').empty();
             $('#star').raty({
               size: 36,
               starOff:  '<%= asset_path('star-off.png') %>',
               starOn:   '<%= asset_path('star-on.png') %>',
               starHalf: '<%= asset_path('star-half.png') %>',
               half: true,
                scoreName: 'comic[star]',
             });
           </script>
        </th></tr>
        <tr><th>ジャンル</th></tr>
          <tr><th><% @comic.genres.each do |genre| %>
            <%= genre.genre_name %>
          <% end %></th></tr>
          <%= f.hidden_field :genre_names, :value => @comic.genres.map(&:genre_name), :multiple => true %>

        <tr><th>タグ</th></tr>
          <tr><th><% @comic.tags.each do |tag| %>
            <%= tag.tag_name %>
          <% end %></th></tr>
           <%= f.hidden_field :tag_names, :value => @comic.tags.map(&:tag_name), :multiple => true %>

        <tr><th><%= f.submit "投稿する" %></th></tr>
       </table>
      <% end %>
      <!-- 戻って変更する -->

      <%= form_with model: @comic, url: public_comics_back_path, method: :post do |f| %>
       <table align="center">
        <%= f.hidden_field :title, :value => @comic.title %>
        <%= f.hidden_field :name, :value => @comic.name %>
        <%= f.hidden_field :company, :value => @comic.company %>
        <%= f.hidden_field :release_date, :value => @comic.release_date %>
        <%= f.hidden_field :body, :value => @comic.body %>

        <!--星レビュー機能-->
        <div class="form-group" id="star">
            <%= f.hidden_field :star, id: :review_star %>
        </div>

           <script>
             $('#star').empty();
             $('#star').raty({
               size: 36,
               starOff:  '<%= asset_path('star-off.png') %>',
               starOn:   '<%= asset_path('star-on.png') %>',
               starHalf: '<%= asset_path('star-half.png') %>',
               half: true,
               readOnly: true,
               score: <%= @comic.star %>,
               scoreName: 'comic[star]',
             });
           </script>

        <%= f.hidden_field :genre_names, :value => @comic.genres.map(&:genre_name), :multiple => true %>
        <%= f.hidden_field :tag_names, :value => @comic.tags.map(&:tag_name), :multiple => true %>

        <tr><th><%= f.submit "戻る", name: :back %></th></tr>
        </table>
      <% end %>
      </div>
</div>
