<div class="container mt-5">

  <div class="row">
    <div class="col">
      <h3 class="text-center"><strong>投稿内容の確認</strong></h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <!--このまま投稿する-->

      <%= form_with model: @comic, url: public_comics_path, method: :post do |f| %>
        <table class="table table-bordered text-center mt-3">

          <tr>
            <th width="20%">タイトル</th>
            <th><%= @comic.title %></th>
          </tr>
          <%= f.hidden_field :title, :value => @comic.title %>

          <tr>
            <th>著者名</th>
            <th><%= @comic.name %></th>
          </tr>
          <%= f.hidden_field :name, :value => @comic.name %>

          <tr>
            <th>出版社名</th>
            <th><%= @comic.company %></th>
          </tr>
          <%= f.hidden_field :company, :value => @comic.company %>

          <tr>
            <th>発行年月日</th>
            <th><%= @comic.release_date.strftime("%Y年%m月%d日") %></th>
          </tr>
          <%= f.hidden_field :release_date, :value => @comic.release_date %>

          <tr>
            <th>本文</th>
            <th><%= @comic.body %></th>
          </tr>
          <%= f.hidden_field :body, :value => @comic.body %>

          <!--星レビュー機能-->
          <tr>
            <th>おすすめ度</th>
            <td>
              <div class="form-group" id="star">
                <%= f.hidden_field :star, id: :review_star %>
              </div>

               <script>
                 $('#star').empty();
                 $('#star').raty({
                   size: 36,
                   starOff:  '<%= asset_path('star-off.png') %>',
                   starOn:   '<%= asset_path('star-on.png') %>',
                   starHalf: '<%= asset_path('star-half.png') %>',
                   half: true,
                    scoreName: 'comic[star]',
                 });
               </script>
            </td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <th>
              <% @comic.genres.each do |genre| %>
                <%= genre.genre_name %>
              <% end %>
            </th>
          </tr>
          <%= f.hidden_field :genre_names, :value => @comic.genres.map(&:genre_name), :multiple => true %>

          <tr>
            <th>タグ</th>
            <th>
              <% @comic.tags.each do |tag| %>
                <%= tag.tag_name %>
              <% end %>
            </th>
          </tr>
          <%= f.hidden_field :tag_names, :value => @comic.tags.map(&:tag_name), :multiple => true %>

         <tr>
           <th><%= f.label"公開範囲を選択" %></th>
           <td><%= f.select :status, [["公開", "published"], ["下書き", "draft"]], required: true %>
               下書きで設定したものは、マイページの下書き一覧から編集することができます</td>
        </tr>

        </table>

      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <%= f.submit "保存 / 投稿する", class:"btn btn-info btn-bg" %>
      <% end %>
      </div>
    </div>

    <div class="row">

          <!-- 戻って変更する -->
          <%= form_with model: @comic, url: public_comics_back_path, method: :post do |f| %>
            <%= f.hidden_field :title, :value => @comic.title %>
            <%= f.hidden_field :name, :value => @comic.name %>
            <%= f.hidden_field :company, :value => @comic.company %>
            <%= f.hidden_field :release_date, :value => @comic.release_date %>
            <%= f.hidden_field :body, :value => @comic.body %>

            <!--星レビュー機能-->
            <div class="form-group" id="star">
              <%= f.hidden_field :star, id: :review_star %>
            </div>

               <script>
                 $('#star').empty();
                 $('#star').raty({
                   size: 36,
                   starOff:  '<%= asset_path('star-off.png') %>',
                   starOn:   '<%= asset_path('star-on.png') %>',
                   starHalf: '<%= asset_path('star-half.png') %>',
                   half: true,
                   readOnly: true,
                   score: <%= @comic.star %>,
                   scoreName: 'comic[star]',
                 });
               </script>

                <%= f.hidden_field :genre_names, :value => @comic.genres.map(&:genre_name), :multiple => true %>
                <%= f.hidden_field :tag_names, :value => @comic.tags.map(&:tag_name), :multiple => true %>

                <div class="col">
                  <%= f.submit "戻る", name: :back, class:"btn btn-warning btn-bg" %>
                </div>
          <% end %>
    </div>

</div>
