<div class="container mt-3">

  <div class="row text-center mt-4">
    <div class="col">
      <h3><strong>投稿編集</strong></h3>
    </div>
  </div>

  <div class="row text-center mt-3">

    <div class="col">
        <%= form_with model: @comic, url: public_comic_path(@comic), method: :patch do |f| %>

          <div class="form-group">
            <strong><%= f.label :タイトル %></strong>
            <p><%= f.text_field :title %></p>
          </div>

          <div class="form-group">
            <strong><%= f.label :著者名 %></strong>
            <p><%= f.text_field :name %></p>
          </div>

          <div class="form-group">
            <strong><%= f.label :出版社 %></strong>
            <p><%= f.text_field :company %></p>
          </div>

          <div class="form-group">
            <strong><%= f.label :発行年月日 %></strong>
            <p><%= f.date_field :release_date %></p>
          </div>

          <div class="form-group">
            <strong><%= f.label :本文 %></strong>
            <p><%= f.text_area :body, size:"60x10" %></p>
          </div>

          <!--星レビュー機能-->
          <p><strong>おすすめ度</strong></p>
          <div class="form-group" id="star">
            <%= f.hidden_field :star, id: :review_star %>
          </div>

             <script>
               $('#star').empty();
               $('#star').raty({
                 size: 36,
                 starOff:  '<%= asset_path('star-off.png') %>',
                 starOn:   '<%= asset_path('star-on.png') %>',
                 starHalf: '<%= asset_path('star-half.png') %>',
                 half: true,
                  scoreName: 'comic[star]',
               });
             </script>

          <div class="form-group">
            <strong><%= f.label :ジャンル %></strong>
            <p><%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :genre_name,{ multiple:true }) %></p>
            <p><%= f.text_field :genre_names %></p>
          </div>

          <div class="form-group">
            <strong><%= f.label :タグ %></strong>
            <p><%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name,{ multiple:true }) %></p>
            <p><%= f.text_field :tag_names %></p>
          </div>

          <div class="form-group">
            <strong><%= f.label"公開範囲を選択" %></strong>
            <p><%= f.select :status, [["公開", "published"], ["下書き", "draft"]], required: true %></p>
          </div>

        <%= f.submit "変更保存", class:"btn btn-success btn-bg" %>

      <% end %>
    </div>

  </div>

  <div class="row text-center">
    <div class="col">
      <%= link_to "戻る", public_comic_path(@comic), class:"btn btn-warning btn-sm" %>
    </div>
    <div class="col">
      <%= link_to "削除する", public_comic_path(@comic), method: :delete, class:"btn btn-danger btn-bg", data: {confirm: "コメントを削除しますか？"} %>
    </div>
  </div>

</div>


