<div class="container mt-5">

  <div class="row">
    <h5><%= @genre.genre_name %>の投稿一覧</h5>
  </div>

    <% @comics.each do |comic| %>
        <div class="row">
          <table>
            <tr>
              <th>タイトル</th>
              <td>
                <%= link_to public_comic_path(comic) do %>
                  <%= comic.title %>
                <% end %>
              </td>
            </tr>

            <tr>
              <th>著者名</th>
              <td><%= comic.name %></td>
            </tr>

            <tr>
              <th>出版社</th>
              <td><%= comic.company %></td>
            </tr>

            <tr>
              <th>発行年月日</th>
              <td><%= comic.release_date %></td>
            </tr>

            <!--星レビュー機能-->
            <tr>
              <th>おすすめ度</th>
              <td>
                <div class="star-rate">
                  <div id="star-rate-<%= comic.id %>"></div>

                    <script>
                      $('#star-rate-<%= comic.id %>').raty({
                      size      : 36,
                      starOff   : '<%= asset_path('star-off.png') %>',
                      starOn    : '<%= asset_path('star-on.png') %>',
                      starHalf  : '<%= asset_path('star-half.png') %>',
                      half      : true,
                      readOnly: true,
                      score: <%= comic.star %>,
                      });
                    </script>

                </div>
              </td>
            </tr>

            <tr>
              <th>ジャンル</th>
              <td>
                <% comic.genres.each do |genre| %>
                  <%= link_to public_genre_comics_genre_path(genre_id: genre.id) do %>
                    <%= genre.genre_name %>
                  <% end %>
                <% end %>
              </td>
            </tr>

            <tr>
              <th>タグ</th>
              <td>
                <% comic.tags.each do |tag| %>
                  <%= link_to public_tag_comics_tag_path(tag_id: tag.id) do %>
                    <%= tag.tag_name %>
                  <% end %>
                <% end %>
              </td>
            </tr>

            <tr>
              <th>コメント数</th>
              <td><%= comic.comic_comments.count %></td>
            </tr>

            <tr>
              <th>ブクマ数</th>
              <td><%= comic.bookmarks.count %></td>
            </tr>

            <tr>
              <th>投稿日時</th>
              <td><%= comic.created_at.strftime("%Y年%m月%d日") %></td>
            </tr>

            <tr>
              <th>本文</th>
              <td><%= comic.body.truncate(10) %></td>
            </tr>

          </table>
        </div>
    <% end %>

</div>