<div class="container mt-3 mb-5">

  <div class="row text-center">
    <div class="col">
      <h3 class="p-1 bg-warning">
        <strong>みんなの投稿一覧</strong>
      </h3>
    </div>
  </div>

  <% if customer_signed_in? %>
    <div class="row mt-3 text-center">
      <div class="col">
        <%= link_to '投稿日時が新しい順', comics_path(latest: "true") %> /
        <%= link_to '投稿日時が古い順', comics_path(old: "true") %> /
        <%= link_to 'おすすめ度の高い順', comics_path(star_count: "true") %> /
        <%= link_to 'コメント数の多い順', comics_path(comic_comment: "true") %> /
        <%= link_to 'ブックマーク数の多い順', comics_path(bookmark_count: "true") %>
      </div>
    </div>

    <div class="row mt-1 text-center">
      <div class="col">
        <%= link_to "ネタバレなし", no_spoiler_comics_path %> /
        <%= link_to "ネタバレあり", spoiler_comics_path %>
      </div>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col-md-2">

      <table class="table table-bordered text-center">
        <thead>
          <th class="bg-light">ジャンルリスト</th>
        </thead>
        <tbody>
          <% @genre_list.each do |genre| %>
          <tr>
            <th>
              <%= link_to genre_comics_genre_path(genre_id: genre.id), class:"text-success" do %>
                <%= genre.genre_name %>
              <% end %>
            </th>
          </tr>
          <% end %>
        </tbody>
      </table>

      <table class="table table-bordered text-center">
        <thead>
          <th class="bg-light">タグリスト</th>
        </thead>
        <tbody>
          <% @tag_list.each do |tag| %>
            <tr>
              <th>
                <%= link_to tag_comics_tag_path(tag_id: tag.id), class:"text-danger" do %>
                  <%= tag.tag_name %>
                <% end %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

    <div class="col">
      <%= paginate @comics %>
      <%= render 'comic', comics: @comics %>
    </div>

  </div>

</div>