<div class="container mt-3 mb-5">

  <div class="row text-center">
    <div class="col">
      <h3 class="p-1 bg-success text-light">
        <strong>投稿フォーム</strong>
      </h3>
    </div>
  </div>

  <div class="bg-light">
    <% if @comic.errors.any? %>
      <div class="row">
        <div class="col text-center p-3">
          <p class="bg-danger text-light"><%= @comic.errors.count %>件、必要項目が入力されていません</p>
          <p class="bg-danger text-light">
            <% @comic.errors.full_messages.each do |message| %>
             <%= message %><br>
            <% end %>
          <p>
        </div>
      </div>
    <% end %>

    <%= form_with model: @comic, url: check_comics_path(@comic), method: :post do |f| %>

      <div class="form-group row">
        <div class="col-md-6 mt-5 text-right">
          <p class="p-1 rounded-sm bg-danger text-light d-inline-block">必須</p>
          <strong>
            <%= f.label :タイトル, class:"p-1 bg-info text-light" %>
          </strong>
        </div>
        <div class="col-md-6 mt-5 text-left">
          <%= f.text_field :title, placeholder: "作品のタイトル" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6 text-right">
          <p class="p-1 rounded-sm bg-danger text-light d-inline-block">必須</p>
          <strong>
            <%= f.label :著者名, class:"p-1 bg-info text-light" %>
          </strong>
        </div>
        <div class="col-md-6 text-left">
          <%= f.text_field :name, placeholder: "作者名" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6 text-right">
          <p class="p-1 rounded-sm bg-danger text-light d-inline-block">必須</p>
          <strong>
            <%= f.label :出版社, class:"p-1 bg-info text-light" %>
          </strong>
        </div>
        <div class="col-md-6 text-left">
          <%= f.text_field :company, placeholder: "出版社名" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6 text-right">
          <p class="p-1 rounded-sm bg-danger text-light d-inline-block">必須</p>
          <strong>
            <%= f.label :発行年月日, class:"p-1 bg-info text-light" %>
          </strong>
        </div>
        <div class="col-md-6 text-left">
          <%= f.date_field :release_date %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col text-center">
          <p class="p-1 rounded-sm bg-danger text-light d-inline-block">必須</p>
          <strong>
            <%= f.label :本文, class:"p-1 bg-info text-light" %>
          </strong>
          <p><%= f.text_area :body, size:"60x10", placeholder: "作品の良かったところやおすすめしたいところ" %></p>
        </div>
      </div>

      <!--星レビュー機能-->
      <div class="text-center">

        <p class="p-1 bg-info text-light d-inline-block">
          <strong>おすすめ度 (☆いくつかをお選び下さい)</strong>
        </p>

        <div class="form-group p-1" id="star">
          <%= f.hidden_field :star, id: :review_star %>
        </div>

          <% if @comic.star.present? %>

            <script>
              $('#star').empty();
              $('#star').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn:   '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              score: <%= @comic.star %>,
              scoreName: 'comic[star]',
              });
            </script>

          <% else %>

            <script>
              $('#star').empty();
              $('#star').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn:   '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              scoreName: 'comic[star]',
              });
            </script>

          <% end %>

      </div>

      <div class="form-group text-center">
        <strong>
          <%= f.label :ジャンル, class:"p-1 bg-info text-light" %>
        </strong>
        <p><%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :genre_name,{ multiple:true, class:"check_box" }) %></p>
        <p><%= f.text_field :genre_name, placeholder: "その他" %></p>
      </div>

      <div class="form-group text-center">
        <strong>
          <%= f.label :タグ, class:"p-1 bg-info text-light" %>
        </strong>
        <p><%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name,{ multiple:true }) %></p>
        <p><%= f.text_field :tag_name, placeholder: "その他" %></p>
      </div>

      <div class="form-group text-center">
        <strong>
          <%= f.label :ネタバレ, class:"p-1 bg-info text-light" %>
        </strong>
        <p>
          <%= f.radio_button :spoiler_status, false %>
          <%= f.label :spoiler_status, 'ネタバレあり', value: false %>
          <%= f.radio_button :spoiler_status, true %>
          <%= f.label :spoiler_status, 'ネタバレなし', value: true %>
        </p>
      </div>

      <div class="text-center">
        <%= f.submit "投稿確認画面へ", class:"btn btn-success btn-lg mt-4 mb-5" %>
      </div>

    <% end %>

  </div>

</div>