<!-- 投稿したユーザーの情報 -->
<%= image_tag @comic.customer.get_profile_image(100,100) %>
<%= @comic.customer.name %>

<% if @comic.customer == current_customer %>
  <%= link_to "会員情報を編集する", edit_public_customer_path(current_customer) %>
<% end %>

<h3>投稿詳細</h3>

  <p>漫画のタイトル</p>
    <%= @comic.title %>

  <p>漫画の著者名</p>
    <%= @comic.name %>

  <p>出版社</p>
    <%= @comic.company %>

  <p>発行年月日</p>
    <%= @comic.release_date %>

  <!--星レビュー機能-->
  <div id="star-rate-<%= @comic.id %>">

     <script>
     $('#star-rate-<%= @comic.id %>').empty();
     $('#star-rate-<%= @comic.id %>').raty({
       size      : 36,
       starOff   : '<%= asset_path('star-off.png') %>',
       starOn    : '<%= asset_path('star-on.png') %>',
       starHalf  : '<%= asset_path('star-half.png') %>',
       half      : true,
       readOnly: true,
       score: <%= @comic.star %>,
     });
     </script>

  </div>

  <p>ジャンル</p>
    <% @comic_genres.each do |genre| %>
      <%= link_to public_genre_comics_genre_path(genre_id: genre.id) do %>
        <%= genre.genre_name %>
      <% end %>
    <% end %>

  <p>タグ</p>
    <% @comic_tags.each do |tag| %>
      <%= link_to public_tag_comics_tag_path(tag_id: tag.id) do %>
        <%= tag.tag_name %>
      <% end %>
    <% end %>

  <p>本文</p>
    <%= @comic.body %>

  <%= link_to "コメント一覧", public_comic_comic_comments_path(@comic) %>

  <% if @comic.customer == current_customer %>
    <%= link_to "編集する", edit_public_comic_path(@comic) %>
    <%= button_to "削除する", public_comic_path(@comic), method: :delete %>
  <% end %>

  <%= form_with model: [@comic, @comic_comment], url: public_comic_comic_comments_path(@comic), method: :post do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "送信する" %>
  <% end %>

