
<%= image_tag @comic.customer.get_profile_image(100,100) %>
<%= @comic.customer.name %>

<% if @comic.customer == current_customer %>
  <%= link_to "会員情報を編集する", edit_public_customer_path(current_customer) %>
<% end %>

<h3>投稿詳細</h3>
  <p>漫画のタイトル</p>
  <%= @comic.title %>

  <p>漫画の著者名</p>
  <%= @comic.name %>

  <p>出版社</p>
  <%= @comic.company %>

  <p>発行年月日</p>
  <%= @comic.release_date %>

  <p>ジャンル</p>
  <% @comic.genres.each do |genre| %>
  <%= genre.genre_name %>
  <% end %>

  <p>タグ</p>
  <% @comic.tags.each do |tag| %>
  <%= tag.tag_name %>
  <% end %>

  <p>本文</p>
  <%= @comic.body %>

<% if @comic.customer == current_customer %>
  <%= link_to "編集する", edit_public_comic_path(@comic) %>
  <%= link_to "削除する", public_comic_path(@comic), method: :delete %>
<% end %>

  <%= form_with model: [@comic, @comic_comment], url: public_comic_comic_comments_path(@comic), method: :post do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "送信する" %>
  <% end %>

