<div class="container mt-3 mb-5">

  <div class="row text-center">
    <div class="col">
      <h3 class="p-1 bg-warning">
        <strong>みんなの投稿一覧（ネタバレ有り)</strong>
      </h3>
    </div>
  </div>

  <% if customer_signed_in? %>
    <div class="row mt-3 text-center font-weight-bold">
      <div class="col">
        <%= link_to '投稿日時が新しい順', spoiler_comics_path(latest: "true") %> /
        <%= link_to '投稿日時が古い順', spoiler_comics_path(old: "true") %> /
        <%= link_to 'おすすめ度の高い順', spoiler_comics_path(star_count: "true") %> /
        <%= link_to 'コメント数の多い順', spoiler_comics_path(comic_comment: "true") %> /
        <%= link_to 'ブックマーク数の多い順', spoiler_comics_path(bookmark_count: "true") %> /
        <%= link_to '閲覧数の多い順', spoiler_comics_path(view_count: "true") %>
      </div>
    </div>

    <div class="row mt-1 text-center font-weight-bold">
      <div class="col">
        < <%= link_to "ネタバレなし", no_spoiler_comics_path, class:"text-danger" %> /
        <%= link_to "ネタバレあり", spoiler_comics_path, class:"text-success" %> >
      </div>
    </div>
  <% end %>

    <div class="row mt-4">
      <div class="col-md-2">
        <%= render 'public/comics/list', genre_list: @genre_list, tag_list: @tag_list %>
      </div>
      <div class="col">
        <%= render 'comic', comics: @spoiler %>
        <%= paginate @spoiler %>
      </div>
    </div>

</div>