<div class="container mt-5">

  <div class="row">
    <div class="col text-center">
      <h2><strong>ログイン</strong></h2>
    </div>
  </div>

    <%= form_with model: @customer, url: customer_session_path do |f| %>

      <div class="field row mt-5 text-center">
        <div class="col">
          <strong><%= f.label :メールアドレス %></strong>
        </div>
        <div class="col">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@example.com" %>
        </div>
      </div>

      <div class="field row mt-4 text-center">
        <div class="col">
          <strong><%= f.label :パスワード %></strong>
        </div>
        <div class="col">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "password"%>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field row mt-3 text-center">
          <div class="col">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>

      <div class="row mt-3 text-center">
        <div class="col">
          <%= f.submit "ログインする", class:"btn btn-success btn-bg" %>
        </div>
      </div>

    <% end %>

</div>


