<div class="container mt-3">
  <div class="row">

    <div class="col-md-2 mt-2">
      <%= render 'admin/customers/customer', customer: @comic.customer %>
    </div>

    <div class="col mt-2">
      <h3 class="text-center"><strong>投稿の詳細</strong></h3>
        <div class="text-right">
          <p class="btn bg-info text-light">ブクマ数(<%= @comic.bookmarks.count %>)</p>
        </div>
          <table class="table table-bordered text-center">
            <tr class="bg-info">
              <th width="20%">タイトル</th>
              <td class="text-light"><strong><%= @comic.title %></strong></td>
            </tr>

            <tr>
              <th class="bg-light">著者名</th>
              <td><%= @comic.name %></td>
            </tr>

            <tr>
              <th class="bg-light">出版社</th>
              <td><%= @comic.company %></td>
            </tr>

            <tr>
              <th class="bg-light">発行年月日</th>
              <td><%= @comic.release_date.strftime("%Y年%m月%d日") %></td>
            </tr>

            <!--星レビュー機能-->
            <tr>
              <th class="bg-light">おすすめ度</th>
              <td>
                <div id="star-rate-<%= @comic.id %>">

                  <script>
                  $('#star-rate-<%= @comic.id %>').empty();
                  $('#star-rate-<%= @comic.id %>').raty({
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  starHalf  : '<%= asset_path('star-half.png') %>',
                  half      : true,
                  readOnly: true,
                  score: <%= @comic.star %>,
                  });
                  </script>

                </div>
              </td>
            </tr>

            <tr>
              <th class="bg-light">ジャンル</th>
              <td>
                <% @comic.genres.each do |genre| %>
                  <%= link_to admin_genre_comics_genre_path(genre_id: genre.id), class:"text-success" do %>
                    <strong><%= genre.genre_name %></strong>
                  <% end %>
                <% end %>
              </td>
            </tr>

            <tr>
              <th class="bg-light">タグ</th>
              <td>
                <% @comic.tags.each do |tag| %>
                  <%= link_to admin_tag_comics_tag_path(tag_id: tag.id), class:"text-danger" do %>
                    <strong><%= tag.tag_name %></strong>
                  <% end %>
                <% end %>
              </td>
            </tr>

            <tr>
              <th class="bg-light">投稿日時</th>
              <td><%= @comic.created_at.strftime("%Y年%m月%d日") %></td>
            </tr>

            <tr>
              <th class="bg-light">公開範囲</th>
              <td><%= @comic.status_i18n %></td>
            </tr>

            <tr>
              <th class="bg-light">本文</th>
              <td><%= @comic.body %></td>
            </tr>
          </table>

        <div class="text-right">

          <%= link_to admin_comic_comic_comments_path(@comic), class:"btn btn-primary btn-bg" do %>
            コメント一覧(<%= @comic.comic_comments.count %>)
          <% end %>

          <%= link_to "投稿内容を編集する", edit_admin_comic_path(@comic), class:"btn btn-success btn-bg" %>
          <%= link_to "この投稿を削除する", admin_comic_path(@comic), method: :delete, class:"btn btn-danger btn-bg", data: {confirm: "この投稿を削除しますか？"} %>
          <%= link_to "みんなの投稿一覧へ", admin_comics_path, class:"btn btn-info btn-bg" %>

        </div>
    </div>

  </div>
</div>