<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!-- ユーザーの情報 -->
      <table>
        <tr>
          <th>
            <%= link_to admin_customer_path(@comic.customer) do %>
              <%= image_tag @comic.customer.get_profile_image(50,50) %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th><%= @comic.customer.name %></th>
        </tr>
        <tr>
          <th>
            <%= link_to "ユーザー情報を変更する", edit_admin_customer_path(@comic.customer) %>
          </th>
        </tr>
        <tr>
          <th>
            <%= link_to "このユーザーの投稿一覧へ", admin_customers_comics_path(@comic.customer) %>
          </th>
        </tr>
      </table>
    </div>

    <div class="col">
      <h3>投稿の詳細</h3>
        <table>
          <tr>
            <td>タイトル</td>
            <td><%= @comic.title %></td>
          </tr>

          <tr>
            <td>著者名</td>
            <td><%= @comic.name %></td>
          </tr>

          <tr>
            <td>出版社</td>
            <td><%= @comic.company %></td>
          </tr>

          <tr>
            <td>発行年月日</td>
            <td><%= @comic.release_date.strftime("%Y年%m月%d日") %></td>
          </tr>

          <!--星レビュー機能-->
          <tr>
            <td>おすすめ度</td>
            <td>
              <div id="star-rate-<%= @comic.id %>">

                <script>
                $('#star-rate-<%= @comic.id %>').empty();
                $('#star-rate-<%= @comic.id %>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%= asset_path('star-half.png') %>',
                half      : true,
                readOnly: true,
                score: <%= @comic.star %>,
                });
                </script>

              </div>
            </td>
          </tr>

          <tr>
            <td>ジャンル</td>
            <td>
              <% @comic.genres.each do |genre| %>
                <%= link_to admin_genre_comics_genre_path(genre_id: genre.id) do %>
                  <%= genre.genre_name %>
                <% end %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>タグ</td>
            <td>
              <% @comic.tags.each do |tag| %>
                <%= link_to admin_tag_comics_tag_path(tag_id: tag.id) do %>
                  <%= tag.tag_name %>
                <% end %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>本文</td>
            <td><%= @comic.body %></td>
          </tr>
        </table>


        <%= link_to "コメント一覧", admin_comic_comic_comments_path(@comic) %>
        <%= link_to "投稿内容を編集する", edit_admin_comic_path(@comic) %>
        <%= link_to "この投稿を削除する", admin_comic_path(@comic), method: :delete %>

        <%= link_to "みんなの投稿一覧へ", admin_comics_path %>

    </div>
  </div>
</div>