<% if admin_signed_in? %>

<!--管理側の検索 -->
  <div class="search_form">
    <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder: "キーワードで検索" %>
      <%= f.select :range, options_for_select([['Comic'], ['Customer']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class:"btn btn-secondary btn-bg" %>
    <% end %>
  </div>

<% else %>

<!-- 顧客側の検索 -->
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder: "キーワードで検索" %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class:"btn btn-secondary btn-sm" %>
    <% end %>
  </div>

<% end %>
