<!DOCTYPE html>
<html>
  <head>
    <title>ComicImpre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <h1>Comic Impre</h1>

        <% if customer_signed_in? %>

          <%= link_to "マイページ", public_customer_path(current_customer.id) %>
          <%= link_to "投稿フォーム", new_public_comic_path %>
          <%= link_to "みんなの投稿", public_comics_path %>
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>

        <% else %>

          <%= link_to "ゲストログイン", public_customers_guest_sign_in_path, method: :post %>
          <%= link_to "ログイン", new_customer_session_path %>
          <%= link_to "新規登録", new_customer_registration_path %>
          <%= link_to "みんなの投稿", public_comics_path %>

        <% end %>
        <form class="d-flex">
           <input type="text" name="search" value="" placeholder="Search"/>
        </form>
    </header>

    <%= yield %>

    <footer>

    </footer>
  </body>
</html>
